body {
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#container > * {
  background-color: #3bbced;
  padding: 30px;
}

header {
  grid-column: 1 / 13;
}

main {
  grid-column: 4 / 13;
  grid-row: 2 / 4;
}

section {
  grid-column: 1 / 13;
  grid-row: 4 / 6;
}

aside {
  grid-column: 1 / 4;
}

nav {
  grid-column: 1 / 4;
}

footer {
  grid-column: 1 / 13;
}
